.container {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 100vh;
}

header {
  color: #2a4365;
  font-weight: 600;
  font-size: clamp(2em, 3vw, 4rem);
}
.larger-form {
  width: 90%;
  font-size: 1em;
}
.smaller-form {
  width: 50%;
  font-size: 0.7em;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  border: 2px solid #f6e9e9;
  box-shadow: rgba(47, 47, 227, 0.2) 0px 7px 29px;
  border-radius: 1rem;
  padding: 3rem 4rem;
  width: 100%;
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.label {
  font-size: clamp(1em, 1.5vw, 1.4em);
}

.input-with-icon {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
  font-size: clamp(0.8em, 1vw, 1.2em);
  color: #666;
}

.field {
  padding: 0.5em 0.5em 1em 3em;
  font-size: clamp(1em, 1vw, 1.3em);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  width: 100%;
}

.field:focus {
  outline: none;
  border-color: #3d9cbf;
  box-shadow: 0 0 5px rgba(53, 81, 220, 0.1);
}

/* Textarea */

textarea.field {
  resize: none;
}
.textarea-icon {
  position: absolute;
  top: 14%;
  left: 0.5rem;
}

/* Button */
.submit-button {
  width: fit-content;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #3182ce;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.submit-button:hover {
  border-radius: 0.5em;
}
